{% extends "blog/base.html" %}

{% block content %}
  {% for comment in comments %}
    {% if user.is_authenticated %}
    <div class="comment">
      <div class="date">
        {{ comment.created_date }}
        {% if not comment.approved_comment %}
          <a class="btn btn-default" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-default" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
        {% endif %}
      </div>
      <p><strong>{{ comment.author }}</strong> commented on <strong>{{ comment.post.title }}</strong></p>
      <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}
